<!DOCTYPE html>
<html class="no-js" lang="">


<!-- Mirrored from radiustheme.com/demo/html/cirkle/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Jun 2021 06:41:39 GMT -->
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Psybox • {{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/icofont/icofont.min.css">
    <link rel="stylesheet" href="/dependencies/slick-carousel/css/slick.css">
    <link rel="stylesheet" href="/dependencies/slick-carousel/css/slick-theme.css">
    <link rel="stylesheet" href="/dependencies/magnific-popup/css/magnific-popup.css">
    <link rel="stylesheet" href="/dependencies/sal.js/sal.css" type="text/css">
    <link rel="stylesheet" href="/dependencies/select2/css/select2.min.css" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&amp;display=swap"
          rel="stylesheet">

</head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="icofont-bubble-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper overflow-hidden">

    <!--=====================================-->
    <!--=          Header Menu Start       	=-->
    <!--=====================================-->
    <header class="header">
        <div id="rt-sticky-placeholder"></div>
        <div id="header-menu" class="header-menu menu-layout1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="temp-logo">
                            <a href="/"><img src="/media/logo_x_grey.png" alt="Psybox"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 col-sm-7 col-8 d-flex justify-content-xl-start justify-content-center">
                        <div class="mobile-nav-item hide-on-desktop-menu">
                            <div class="mobile-toggler">
                                <button type="button" class="mobile-menu-toggle">
                                    <i class="icofont-navigation-menu"></i>
                                </button>
                            </div>
                            <div class="mobile-logo">
                                <a href="/">
                                    <img src="/media/logo_x_grey.png" alt="Psybox">
                                </a>
                            </div>
                        </div>
                        <nav id="dropdown" class="template-main-menu">
                            <button type="button" class="mobile-menu-toggle mobile-toggle-close">
                                <i class="icofont-close"></i>
                            </button>
                            <ul class="menu-content">
                                <li class="header-nav-item">
                                    <a href="/" class="menu-link active">Home</a>
                                </li>
                                <li class="header-nav-item">
                                    <a href="/contact" class="menu-link">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-sm-5 col-4 d-flex justify-content-end">
                        <div class="header-action">
                            <ul>
                                <li class="header-social">
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                    <a href="#"><i class="icofont-linkedin"></i></a>
                                    <a href="#"><i class="icofont-pinterest"></i></a>
                                    <a href="#"><i class="icofont-skype"></i></a>
                                </li>
                                <li class="login-btn">
                                    {{#if session.authUser}}
                                        <a href="/community" class="item-btn"><i class="fas fa-user"></i>{{session.firstName}}</a>
                                    {{else}}
                                        <a href="/login" class="item-btn"><i class="fas fa-user"></i>Login</a>
                                    {{/if}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <footer class="footer-wrap">
        <ul class="footer-top-image">
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="400"><img src="/media/figure/man_5.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="500"><img src="/media/figure/man_6.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><img src="/media/figure/man_4.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="600"><img src="/media/figure/man_7.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="200"><img src="/media/figure/man_3.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="700"><img src="/media/figure/man_8.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="100"><img src="/media/figure/man_2.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500" data-sal-delay="800"><img src="/media/figure/man_9.png"
                                                                                      alt="Man"></li>
            <li data-sal="slide-up" data-sal-duration="500"><img src="/media/figure/man_1.png" alt="Man"></li>
        </ul>
        <div class="main-footer">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <a href="/"><img src="/media/logo_x.png" alt="Logo"></a>
                            </div>
                            <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et
                                loreLorem ipsum kelly amieo dolorey.</p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Important Links
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Community
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/community/feed">Feed</a></li>
                                    <li><a href="/community/timeline">Timeline</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Followers
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="https://www.facebook.com/">facebook</a></li>
                                    <li><a href="https://twitter.com/">twitter</a></li>
                                    <li><a href="https://www.instagram.com/">instagram</a></li>
                                    <li><a href="https://www.youtube.com/">Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">Copyrights© Psybox 2021. All Rights Reserved</div>
        </div>
    </footer>

</div>
<!-- Jquery Js -->
<script src="/dependencies/jquery/js/jquery.min.js"></script>
<script src="/dependencies/popper.js/js/popper.min.js"></script>
<script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<script src="/dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
<script src="/dependencies/slick-carousel/js/slick.min.js"></script>
<script src="/dependencies/sal.js/sal.js"></script>
<script src="/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/dependencies/bootstrap-validator/js/validator.min.js"></script>
<script src="/dependencies/select2/js/select2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>

<!-- Site Scripts -->
<script src="/javascripts/app.js"></script>
</body>


<!-- Mirrored from radiustheme.com/demo/html/cirkle/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Jun 2021 06:42:19 GMT -->
</html>