<!DOCTYPE html>
<html class="no-js" lang="">


<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Psybox • {{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/icofont/icofont.min.css">
    <link rel="stylesheet" href="/dependencies/slick-carousel/css/slick.css">
    <link rel="stylesheet" href="/dependencies/slick-carousel/css/slick-theme.css">
    <link rel="stylesheet" href="/dependencies/magnific-popup/css/magnific-popup.css">
    <link rel="stylesheet" href="/dependencies/sal.js/sal.css">
    <link rel="stylesheet" href="/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/dependencies/select2/css/select2.min.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">

    <!-- Jquery Js -->
    <script src="/dependencies/jquery/js/jquery.min.js"></script>
    <script src="/dependencies/popper.js/js/popper.min.js"></script>
    <script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="bg-link-water">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="icofont-bubble-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Top Header -->
    <header class="fixed-header">
        <div class="header-menu panel-header">
            <div class="navbar">
                <div class="nav-item d-none d-sm-block">
                    <div class="header-logo">
<!--                        <a href="/"><img src="/media/logo.png" alt="Psybox"></a>-->
                        <a href="/" class="default_logo"><img src="/media/logo_x.png" alt="Psybox"></a>
                        <a href="/" class="grey_logo"><img src="/media/logo_x_grey.png" alt="Psybox"></a>
                    </div>
                </div>
                <div class="nav-item nav-top-menu">
                    <nav id="dropdown" class="template-main-menu">
                        <ul class="menu-content">
                            <li class="header-nav-item">
                                <a href="/" class="menu-link active">Home</a>
                            </li>
                            <li class="header-nav-item">
                                <a href="/contact" class="menu-link">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav-item header-control">
                    <div class="inline-item d-flex align-items-center">
                        <div class="dropdown dropdown-notification">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="icofont-notification"></i><span class="notify-count">3</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="item-heading">
                                    <h6 class="heading-title">Notifications</h6>
                                </div>
                                <div class="item-body">
                                    <a href="#" class="media">
                                        <div class="item-img">
                                            <img src="/media/figure/notifiy_1.png" alt="Notify">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="item-title">Diana Jameson</h6>
                                            <div class="item-time">15 mins ago</div>
                                            <p>when are nknowen printer took galley of types ...</p>
                                        </div>
                                    </a>
                                    <a href="#" class="media">
                                        <div class="item-img">
                                            <img src="/media/figure/notifiy_2.png" alt="Notify">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="item-title">Quirty</h6>
                                            <div class="item-time">15 mins ago</div>
                                            <p>when are nknowen printer took galley of types ...</p>
                                        </div>
                                    </a>
                                    <a href="#" class="media">
                                        <div class="item-img">
                                            <img src="/media/figure/notifiy_3.png" alt="Notify">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="item-title">Zinia Jessy</h6>
                                            <div class="item-time">15 mins ago</div>
                                            <p>when are nknowen printer took galley of types ...</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="item-footer">
                                    <a href="#" class="view-btn">View All Notification</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inline-item">
                        <div class="dropdown dropdown-admin">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="media">
                                        <span class="item-img">
                                            <img src="/media/figure/chat_5.jpg" alt="Chat">
                                        </span>
                                        <span class="media-body">
                                            <span class="item-title">Rebeca</span>
                                        </span>
                                    </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="admin-options">
                                    <li><a href="/timeline">Timeline</a></li>
                                    <li><a href="/settings">Profile Settings</a></li>
                                    <li><a href="/login">Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Sidebar Left -->
    <div class="fixed-sidebar">
        <div class="fixed-sidebar-left small-sidebar">
            <div class="sidebar-toggle">
                <button class="toggle-btn toggler-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="sidebar-menu-wrap">
                <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
                    <ul class="side-menu">
                        <li><a href="/feed" class="menu-link {{#if Feed}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="FEED"><i class="icofont-newspaper"></i></a></li>
                        <li><a href="/timeline" class="menu-link {{#if Timeline}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="TIMELINE"><i class="icofont-list"></i></a></li>
                        <li><a href="/settings" class="menu-link {{#if Settings}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="PROFILE SETTINGS"><i class="icofont-settings"></i></a></li>
                        <li><a href="javascript:void(0)" class="menu-link switch-mode" data-toggle="tooltip" data-placement="right" title="DARK MODE"><i class="icofont-moon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed-sidebar-left large-sidebar">
            <div class="sidebar-toggle">
                <div class="sidebar-logo">
                    <a href="/"><img src="/media/logo_x_grey.png" alt="Psybox"></a>
                </div>
                <button class="toggle-btn toggler-close">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="sidebar-menu-wrap">
                <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
                    <ul class="side-menu">
                        <li><a href="/feed" class="menu-link {{#if Feed}}active{{/if}}"><i class="icofont-newspaper"></i><span class="menu-title">Feed</span></a></li>
                        <li><a href="/timeline" class="menu-link {{#if Timeline}}active{{/if}}"><i class="icofont-list"></i><span class="menu-title">Timeline</span></a></li>
                        <li><a href="/settings" class="menu-link {{#if Settings}}active{{/if}}"><i class="icofont-settings"></i><span class="menu-title">Profile Settings</span></a></li>
                        <li><a href="javascript:void(0)" class="menu-link switch-mode"><i class="icofont-moon"></i><span class="menu-title">Dark Mode</span></a></li>
                    </ul>
                    <ul class="top-menu-mobile">
                        <li class="menu-label">Pages</li>
                        <li>
                            <a href="/" class="menu-link">Home</a>
                        </li>
                        <li>
                            <a href="/contact" class="menu-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">


{{{body}}}

    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <footer class="footer-wrap footer-dashboard">
        <div class="main-footer">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <a href="/"><img src="/media/logo_x.png" alt="Logo"></a>
                            </div>
                            <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Important Links
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Community
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="/feed">NewsFeed</a></li>
                                    <li><a href="/timeline">Timeline</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Followers
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="https://www.facebook.com/">facebook</a></li>
                                    <li><a href="https://twitter.com/">twitter</a></li>
                                    <li><a href="https://www.instagram.com/">instagram</a></li>
                                    <li><a href="https://www.youtube.com/">Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">Copy© cirkle 2021. All Rights Reserved</div>
        </div>
    </footer>



</div>
</div>

</body>
<script src="/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<script src="/dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
<script src="/dependencies/slick-carousel/js/slick.min.js"></script>
<script src="/dependencies/sal.js/sal.js"></script>
<script src="/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/dependencies/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/dependencies/select2/js/select2.min.js"></script>
<script src="/dependencies/elevate-zoom/jquery.elevatezoom.js"></script>
<script src="/dependencies/bootstrap-validator/js/validator.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>

<!-- Site Scripts -->
<script src="/javascripts/app.js"></script>
<script>
    $( document ).ready(function() {
        var darkMode = localStorage.getItem("darkMode");
        if(darkMode){
            $("body").addClass("darkmode");
        }
    });
    $(".switch-mode").click(function(){
        var darkMode = localStorage.getItem("darkMode");
        if(darkMode){
            $("body").removeClass("darkmode");
            localStorage.removeItem("darkMode");
        }else{
            $("body").addClass("darkmode");
            localStorage.setItem("darkMode", true);
        }
    });
</script>
</html>