<!-- Page Content -->
<div class="page-content">

    <!--=====================================-->
    <!--=        Newsfeed  Area Start       =-->
    <!--=====================================-->
    <div class="container">
        <div class="block-box user-single-blog">
            <div class="blog-thumbnail">
                <img src="/media/blog/blog_10.jpg" alt="Blog">
            </div>
            <div class="blog-content-wrap">
                <div class="blog-entry-header">
                    <div class="entry-category">
                        <a href="#">Community</a>
                        <a href="#">Inspiration</a>
                    </div>
                    <h2 class="entry-title">Spoke with the developer sety make atype specimen book has survived not only five centuries</h2>
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <ul class="entry-meta">
                                <li>
                                    <img src="/media/figure/chat_7.jpg" alt="Chat">
                                    By <a href="#">Fahim Rahman</a>
                                </li>
                                <li><i class="icofont-calendar"></i> 15 October, 2020</li>
                                <li><i class="icofont-comment"></i> Comments: 05</li>
                                <li><i class="icofont-share"></i> Share: 02</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="blog-share">
                                <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
                                <li><a href="#" class="bg-youtube"><i class="icofont-youtube"></i></a></li>
                                <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="blog-content">
                    <p>Seohen an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets strickcontainingwhen an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. </p>
                    <blockquote>
                        <p>Blog estibulum diam metus, varius quis eleifend eget, tincidunt sit amet ante. Etiam quisaccu msan vamus efeliselconvallis, ultrices commodo nisety ncidunt odio, ut varius mi justo. Blog estibulum diam metuultrices commodo erisque et orci convallis, ultrices commodo nisety ncidunt odio, ut varius mi ex quis justo. </p>
                    </blockquote>
                    <p>Seohen an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets strickcontainingwhen an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-img">
                                <img src="/media/blog/blog_11.jpg" alt="Blog">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-img">
                                <img src="/media/blog/blog_12.jpg" alt="Blog">
                            </div>
                        </div>
                    </div>
                    <h3 class="item-title">What’s In Your Mind?</h3>
                    <p>Seohen an unknown printer tok a galley of type and scrambled it to maketypspecimen book. It has survived not only five centuries, but also the leapremaining essentially unchanged.ook.Seohen an unknown printer tok a galley of type and scrambled it to maketypspecimen bs survive but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset shee Ipsum passages, and more recently with desktop publishing.</p>
                </div>
                <div class="blog-footer">
                    <div class="item-label">Choose your <span>Reaction!</span></div>
                    <div class="reaction-icon">
                        <a href="#"><img src="/media/figure/reaction_1.png" alt="Like"></a>
                        <a href="#"><img src="/media/figure/reaction_6.png" alt="Like"></a>
                        <a href="#"><img src="/media/figure/reaction_2.png" alt="Like"></a>
                        <a href="#"><img src="/media/figure/reaction_7.png" alt="Like"></a>
                        <a href="#"><img src="/media/figure/reaction_3.png" alt="Like"></a>
                        <a href="#"><img src="/media/figure/reaction_5.png" alt="Like"></a>
                    </div>
                </div>
                <div class="blog-comment-form">
                    <h3 class="item-title">Leave a Comment</h3>
                    <form>
                        <div class="row gutters-20">
                            <div class="col-lg-4 form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="email" name="email" class="form-control" placeholder="E-mail">
                            </div>
                            <div class="col-lg-4 form-group">
                                <input type="text" name="website" class="form-control" placeholder="website">
                            </div>
                            <div class="col-lg-12 form-group">
                                <textarea name="message" id="message" class="form-control textarea" placeholder="Comments" cols="30" rows="7"></textarea>
                            </div>
                            <div class="col-lg-12 form-group">
                                <input type="submit" class="submit-btn" name="post-comment" value="Post Comment">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="realated-blog">
            <div class="block-box blog-heading">
                <h3 class="heading-title">Related Blog Posts</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="/media/blog/blog_4.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Community</a>
                                <a href="#">Inspiration</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="/media/figure/reaction_1.png" alt="icon">
                                        <img src="/media/figure/reaction_2.png" alt="icon">
                                        <img src="/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="/media/blog/blog_5.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Sporty</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="/media/figure/reaction_1.png" alt="icon">
                                        <img src="/media/figure/reaction_2.png" alt="icon">
                                        <img src="/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-box user-blog">
                        <div class="blog-img">
                            <a href="#"><img src="/media/blog/blog_6.jpg" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-category">
                                <a href="#">Community</a>
                                <a href="#">Inspiration</a>
                            </div>
                            <h3 class="blog-title"><a href="#">Spoke with the developer sety 2020 Gaming Area</a></h3>
                            <div class="blog-date"><i class="icofont-calendar"></i> 15 October, 2020</div>
                            <p>when ann unknown printer took galley type and scrambled it to make aretype specimen book has survived not only.</p>
                        </div>
                        <div class="blog-meta">
                            <ul>
                                <li class="blog-reaction">
                                    <div class="reaction-icon">
                                        <img src="/media/figure/reaction_1.png" alt="icon">
                                        <img src="/media/figure/reaction_2.png" alt="icon">
                                        <img src="/media/figure/reaction_3.png" alt="icon">
                                    </div>
                                    <div class="meta-text">+ 15 others</div>
                                </li>
                                <li><i class="icofont-comment"></i> 05</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <footer class="footer-wrap footer-dashboard">
        <div class="main-footer">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <a href="index-2.html"><img src="/media/logo_dark.png" alt="Logo"></a>
                            </div>
                            <p>Dorem ipsum dolor sit amet consec adipisicing elit sed do eiusmod por incidiut labore et loreLorem ipsum kelly amieo dolorey.</p>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Important Links
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Community
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="newsfeed.html">NewsFeed</a></li>
                                    <li><a href="user-timeline.html">Profile</a></li>
                                    <li><a href="user-friends.html">Friends</a></li>
                                    <li><a href="user-groups.html">Groups</a></li>
                                    <li><a href="forums.html">Forums</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-lg-center">
                        <div class="footer-box">
                            <h3 class="footer-title">
                                Followers
                            </h3>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="https://www.facebook.com/">facebook</a></li>
                                    <li><a href="https://twitter.com/">twitter</a></li>
                                    <li><a href="https://www.instagram.com/">instagram</a></li>
                                    <li><a href="https://www.youtube.com/">Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">Copy© cirkle 2021. All Rights Reserved</div>
        </div>
    </footer>



</div>