<!--=====================================-->
<!--=          Banner Start       		=-->
<!--=====================================-->
<section class="breadcrumbs-banner">
    <div class="container">
        <div class="breadcrumbs-area">
            <h1>Contact Us</h1>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-animate-img" data-sal="slide-up" data-sal-duration="1000">
        <img src="media/figure/breadcrumb_img.png" alt="img">
    </div>
</section>

<!--=====================================-->
<!--=          Contact Page Start       =-->
<!--=====================================-->
<section class="contact-page">
    <div class="map-area">
        <div id="googleMap" class="google-map"></div>
    </div>
    <div class="contact-box-wrap">
        <div class="container">
            <div class="contact-form">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contact-box">
                            <h3 class="item-title">Get In Touch</h3>
                            <form id="contact-form">
                                <div class="row gutters-20">
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control" name="lname" placeholder="Last Name">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="Phone">
                                    </div>
                                    <div class="col-12 form-group">
                                        <textarea name="message" id="message" cols="30" rows="3" class="textarea form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12 form-group">
                                        <input type="submit" class="submit-btn" value="Send Us Message">
                                    </div>
                                </div>
                                <div class="form-response"></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="contact-box contact-method">
                            <h3 class="item-title">Contact Info.</h3>
                            <ul>
                                <li><i class="icofont-location-pin"></i>598 Kazi Avenue, New York, NY23598</li>
                                <li><i class="icofont-ui-message"></i>info@radiustheme.net</li>
                                <li><i class="icofont-phone"></i>(+123) 456 789 101</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=          NewsLetter Start       		=-->
<!--=====================================-->
<section class="banner-newsletter">
    <ul class="section-cloud">
        <li><img src="media/figure/cloud_1.png" alt="shape"></li>
        <li><img src="media/figure/cloud_2.png" alt="shape"></li>
        <li><img src="media/figure/cloud_2.png" alt="shape"></li>
        <li><img src="media/figure/cloud_1.png" alt="shape"></li>
    </ul>
    <div class="container">
        <ul class="section-shape">
            <li><img src="media/figure/shape_1.png" alt="shape"></li>
            <li><img src="media/figure/shape_2.png" alt="shape"></li>
            <li><img src="media/figure/shape_3.png" alt="shape"></li>
            <li><img src="media/figure/shape_4.png" alt="shape"></li>
            <li><img src="media/figure/shape_5.png" alt="shape"></li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="newsletter-box">
                    <h2 class="item-title">Subscribe Cirkle Newsletter</h2>
                    <p>Subscribe to be the first one to know about updates, new features and much more! Enter your email</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your e-mail">
                        <div class="input-group-append">
                            <button class="button-slide" type="button">
                                <span class="btn-text">Subscribe Now</span>
                                <span class="btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                                <path fill-rule="evenodd" fill="#ffffff" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                                            </svg>
                                        </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>